@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add light theme soon */
/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181B1E;
    --foreground: #1D2124;
    --foreground-border: #2E3439;
    --text-light: #FFFFFF;
    --text-medium: #979EA6;
    --text-dark: #42464B;
  }
}

body {
  color: var(--text-medium);
  background: var(--background);
}
